#!/usr/bin/make -f

#export DH_VERBOSE=1

%:
	dh $@ 

override_dh_auto_build:
	cd src/bruce; scons -Q --up --release bruce
	cd src/bruce/client; scons -Q --up --release libbruce_client.so
	cd src/bruce/client; scons -Q --up --release libbruce_client.a
